/* styles.css */

/* style the body */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    background-color: darkblue;
}
/* Center the h1 element */
h1 {
    text-align: center;
    color:#007bff
  }
  
  /* Add some colors to the list items */
ul li {
    color: orange;
  }

  /* style the h4 element */
  h4 {
    text-align: justify;
    color:red;
  }
  
  /* style the p element */
  p {
    text-align: left;
    color: chocolate;
  }
  .python, .c-plus {
    color: #007bff;
  }
  .javascript, .swift {
    color: rgb(255, 149, 20);
  }
  .ruby {
    color: red;
  }
  /* Style the div element */
div {
    background-color: #f0f0f0; /* Light gray */
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    text-align: left;
  }
  
  .poll {
    font-family: Arial, Helvetica, sans-serif;
    color: darkmagenta;
  }
  button {
    font-size: 30px;
  }
    button:hover {
    transform: scale(1.5) perspective(1px);
    background-color: yellow;
  }